@model List<WeatherViewModel>

@{
    ViewData["Title"] = "Home Page";
}

<h1>Current Weather</h1>
<hr />

<table class="table">
    <tr>
        <th>City</th>
        <th>Temperature (C)</th>
        <th>Description</th>
    </tr>
    @foreach (var weatherVM in Model)
    {
        <tr>
            <td>@weatherVM.CityName</td>
            <td>@weatherVM.CurrentWeather.TempC</td>
            <td>@weatherVM.CurrentWeather.Description</td>
        </tr>
    }
</table>